In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:
os.chdir ('C:\\Users\\belwa\\OneDrive\\Documents\\0Files\\Learning\\Acmegrade\\Jul 23 DS Day 16\\Projects\\PRJ Car Price Prediction\\')
print (os.getcwd())

C:\Users\belwa\OneDrive\Documents\0Files\Learning\Acmegrade\Jul 23 DS Day 16\Projects\PRJ Car Price Prediction

In [4]:
df=pd.read_csv("audi.csv")
display(df)

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

In [5]:
print (len(df))

10668

In [6]:
display (df.isna().sum() )

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [7]:
X = df.iloc[:,[0,1,3,4,5,6,7,8]].values
display (X.shape)
display (X)

(10668, 8)

array([[' A1', 2017, 'Manual', ..., 150, 55.4, 1.4],
       [' A6', 2016, 'Automatic', ..., 20, 64.2, 2.0],
       [' A1', 2016, 'Manual', ..., 30, 55.4, 1.4],
       ...,
       [' A3', 2020, 'Manual', ..., 150, 49.6, 1.0],
       [' Q3', 2017, 'Automatic', ..., 150, 47.9, 1.4],
       [' Q3', 2016, 'Manual', ..., 150, 47.9, 1.4]], dtype=object)

In [8]:
Y = df.iloc[:,[2]].values
display (Y.shape)
display (Y)

(10668, 1)

array([[12500],
       [16500],
       [11000],
       ...,
       [17199],
       [19499],
       [15999]], dtype=int64)

In [9]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
X[:,0] = le1.fit_transform(X[:,0])
le2 = LabelEncoder()
X[:,-4] = le2.fit_transform(X[:,-4])
pd.DataFrame(X)

       0     1          2      3  4    5     6    7
0      0  2017     Manual  15735  2  150  55.4  1.4
1      5  2016  Automatic  36203  0   20  64.2  2.0
2      0  2016     Manual  29946  2   30  55.4  1.4
3      3  2017  Automatic  25952  0  145  67.3  2.0
4      2  2019     Manual   1998  2  145  49.6  1.0
...   ..   ...        ...    ... ..  ...   ...  ...
10663  2  2020     Manual   4018  2  145  49.6  1.0
10664  2  2020     Manual   1978  2  150  49.6  1.0
10665  2  2020     Manual    609  2  150  49.6  1.0
10666  9  2017  Automatic   8646  2  150  47.9  1.4
10667  9  2016     Manual  11855  2  150  47.9  1.4

[10668 rows x 8 columns]

In [10]:
pd.DataFrame(X)

       0     1          2      3  4    5     6    7
0      0  2017     Manual  15735  2  150  55.4  1.4
1      5  2016  Automatic  36203  0   20  64.2  2.0
2      0  2016     Manual  29946  2   30  55.4  1.4
3      3  2017  Automatic  25952  0  145  67.3  2.0
4      2  2019     Manual   1998  2  145  49.6  1.0
...   ..   ...        ...    ... ..  ...   ...  ...
10663  2  2020     Manual   4018  2  145  49.6  1.0
10664  2  2020     Manual   1978  2  150  49.6  1.0
10665  2  2020     Manual    609  2  150  49.6  1.0
10666  9  2017  Automatic   8646  2  150  47.9  1.4
10667  9  2016     Manual  11855  2  150  47.9  1.4

[10668 rows x 8 columns]

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[2])],remainder='passthrough')
X = ct.fit_transform(X)
display (X.shape)
display (pd.DataFrame(X))

(10668, 10)

         0    1    2  3     4      5  6    7     8    9
0      0.0  1.0  0.0  0  2017  15735  2  150  55.4  1.4
1      1.0  0.0  0.0  5  2016  36203  0   20  64.2  2.0
2      0.0  1.0  0.0  0  2016  29946  2   30  55.4  1.4
3      1.0  0.0  0.0  3  2017  25952  0  145  67.3  2.0
4      0.0  1.0  0.0  2  2019   1998  2  145  49.6  1.0
...    ...  ...  ... ..   ...    ... ..  ...   ...  ...
10663  0.0  1.0  0.0  2  2020   4018  2  145  49.6  1.0
10664  0.0  1.0  0.0  2  2020   1978  2  150  49.6  1.0
10665  0.0  1.0  0.0  2  2020    609  2  150  49.6  1.0
10666  1.0  0.0  0.0  9  2017   8646  2  150  47.9  1.4
10667  0.0  1.0  0.0  9  2016  11855  2  150  47.9  1.4

[10668 rows x 10 columns]

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
display (pd.DataFrame(X))

,0,1,2,3,4,5,6,7,8,9
0,-0.583268,1.200728,-0.712333,-1.123544,-0.046450,-0.386836,1.050783,0.357147,0.357550,-0.880218
1,1.714479,-0.832828,-0.712333,-0.160831,-0.507834,0.483989,-0.954181,-1.578323,1.037130,0.114925
2,-0.583268,1.200728,-0.712333,-1.123544,-0.507834,0.217781,1.050783,-1.429440,0.357550,-0.880218
3,1.714479,-0.832828,-0.712333,-0.545916,-0.046450,0.047853,-0.954181,0.282706,1.276528,0.114925
4,-0.583268,1.200728,-0.712333,-0.738459,0.876318,-0.971285,1.050783,0.282706,-0.090355,-1.543647
...,...,...,...,...,...,...,...,...,...,...
10663,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-0.885343,1.050783,0.282706,-0.090355,-1.543647
10664,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-0.972136,1.050783,0.357147,-0.090355,-1.543647
10665,-0.583268,1.200728,-0.712333,-0.738459,1.337702,-1.030381,1.050783,0.357147,-0.090355,-1.543647
10666,1.714479,-0.832828,-0.712333,0.609339,-0.046450,-0.688442,1.050783,0.357147,-0.221637,-0.880218
10667,-0.583268,1.200728,-0.712333,0.609339,-0.507834,-0.551913,1.050783,0.357147,-0.221637,-0.880218

In [15]:
from sklearn.model_selection import train_test_split
(X_train,X_test,Y_train,Y_test) = train_test_split(X,Y,test_size=0.2,random_state=0)
print (X.shape, Y.shape)
print (X_train.shape, Y_train.shape)
print (X_test.shape, Y_test.shape)

(10668, 10) (10668, 1)
(8534, 10) (8534, 1)
(2134, 10) (2134, 1)

In [16]:
from sklearn.ensemble import RandomForestRegressor
regression = RandomForestRegressor(random_state=0)
regression.fit(X_train,Y_train)
display (regression)

RandomForestRegressor(random_state=0)

In [17]:
y_pred = regression.predict(X_test)
display (y_pred)

array([14337.15, 23450.35, 27330.07, ..., 46275.18, 31359.  ,  9929.62])

In [18]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[14337.15 14998.  ]
 [23450.35 21950.  ]
 [27330.07 28990.  ]
 ...
 [46275.18 45995.  ]
 [31359.   30500.  ]
 [ 9929.62  8400.  ]]

In [19]:
from sklearn.metrics import r2_score,mean_absolute_error
print  ('R2 Score ', r2_score(Y_test, y_pred))
print  ('Mean Absolute Error', mean_absolute_error(Y_test,y_pred))

R2 Score  0.9536134841307546
Mean Absolute Error 1538.730980670462

In [20]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)
print(reg)

LinearRegression()

In [21]:
y_pred = reg.predict(X_test)
display (y_pred)

array([[13107.85709756],
       [29397.30914249],
       [31903.48857979],
       ...,
       [42575.74024462],
       [31477.33772255],
       [ 7341.36447243]])

In [22]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[13107.85709756 14998.        ]
 [29397.30914249 21950.        ]
 [31903.48857979 28990.        ]
 ...
 [42575.74024462 45995.        ]
 [31477.33772255 30500.        ]
 [ 7341.36447243  8400.        ]]

In [23]:
from sklearn.metrics import r2_score,mean_absolute_error
print  ('R2 Score ', r2_score(Y_test, y_pred))
print  ('Mean Absolute Error', mean_absolute_error(Y_test,y_pred))

y_pred = reg.predict(X)
display (y_pred)

R2 Score  0.7916369962020018
Mean Absolute Error 3380.2375938215073

array([[14674.93230872],
       [20631.73783425],
       [13857.00236978],
       ...,
       [19451.55718609],
       [20993.1881278 ],
       [16737.08476075]])

In [24]:
result = pd.concat([df,pd.DataFrame(y_pred)],axis=1)
display( result)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,0
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,14674.932309
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,20631.737834
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,13857.002370
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,19908.522919
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,17394.260964
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,19234.474685
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,19321.466935
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,19451.557186
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,20993.188128
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,16737.084761

In [25]:
from sklearn.ensemble import  ExtraTreesRegressor
ET_Model=ExtraTreesRegressor(n_estimators = 120)
ET_Model.fit(X_train,Y_train)
y_predict=ET_Model.predict(X_test)
from sklearn.metrics import r2_score,mean_absolute_error
print  ('R2 Score ', r2_score(Y_test, y_predict))
print  ('Mean Absolute Error', mean_absolute_error(Y_test,y_predict))


y_pred = reg.predict(X)
display (y_pred)
result = pd.concat([df,pd.DataFrame(y_pred)],axis=1)
display( result)

R2 Score  0.9564646627769048
Mean Absolute Error 1541.2846333177133

array([[14674.93230872],
       [20631.73783425],
       [13857.00236978],
       ...,
       [19451.55718609],
       [20993.1881278 ],
       [16737.08476075]])

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,0
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,14674.932309
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,20631.737834
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,13857.002370
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,19908.522919
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,17394.260964
...,...,...,...,...,...,...,...,...,...,...
10663,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,19234.474685
10664,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,19321.466935
10665,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,19451.557186
10666,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,20993.188128
10667,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,16737.084761

In [27]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [int(x) for x in np.linspace(start = 80, stop = 1500, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(6, 45, num = 5)]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10]

rand_grid={'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

rf=RandomForestRegressor()

rCV=RandomizedSearchCV(estimator=rf,param_distributions=rand_grid,scoring='neg_mean_squared_error',n_iter=3,cv=3,random_state=42, n_jobs = 1)

In [29]:
display (rCV.fit(X_train,Y_train))

rf_pred=rCV.predict(X_test)
display (rf_pred)

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=3, n_jobs=1,
                   param_distributions={'max_depth': [6, 15, 25, 35, 45],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [80, 237, 395, 553, 711,
                                                         868, 1026, 1184, 1342,
                                                         1500]},
                   random_state=42, scoring='neg_mean_squared_error')

array([13999.56526217, 23714.24304164, 28529.87015517, ...,
       48134.77797548, 31306.03030773, 10038.30912271])

In [30]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print('MAE',mean_absolute_error(Y_test,rf_pred))
print('MSE',mean_squared_error(Y_test,rf_pred))

MAE 1504.4903762294134
MSE 5643730.282386342

In [33]:
import pickle 
pickle.dump(rCV, open('model.pkl','wb'))

model=pickle.load(open('model.pkl','rb'))
print (model.predict (X_train))

[14181.74821967 29459.35175849 11490.32202616 ... 22322.396569
 17391.40410602 45661.35423338]